.todoForm{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    position: relative;
    align-items: center;
}

.todoForm__input {
    width: 100%;
    border-radius: 50px;
    padding: 20px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px red;
}

.todoForm__submit {
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 100px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #2f74c0;
    color: aliceblue;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;

}